
h1 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  cursor: default;
}

li:hover {
  background-color: #dddddd;
}
 
 